<h1>Настройки</h1>
<form class="settings">
	<div class="form-elem float-left width-48">
		<div class="caption">Название вашей сети</div>
		<div class="input-text">
			<input type="text">
		</div>
	</div>
	<div class="form-elem float-left width-48">
		<div class="caption">Описание</div>
		<div class="input-text">
			<input type="text">
		</div>
	</div>
	<h4>Макретинг</h4>
	<div class="form-elem">
		<label class="input-checkbox"><input type="checkbox"><i class="marker flaticon-checkbox"></i>Подарочные карты</label>
		<label class="input-checkbox"><input type="checkbox" checked><i class="marker flaticon-checkbox"></i>Бонусная система</label>
		<label class="input-checkbox"><input type="checkbox"><i class="marker flaticon-checkbox"></i>«Пригласи друга»</label>
	</div>
	<div class="form-elem">
		<label class="input-radio"><input type="radio" name="radio"><i class="marker"></i>Подарочные карты</label>
		<label class="input-radio"><input type="radio" name="radio" checked><i class="marker"></i>Бонусная система</label>
		<label class="input-radio"><input type="radio" name="radio"><i class="marker"></i>«Пригласи друга»</label>
	</div>
	<button class="btn"  ng-disabled="submit">Сохранить настройки</button>
</form>